h1 {
	color: green
}

#game li {
	display: inline;
}

#game div {
	border: 1px solid black;
	margin: 5px;
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: grey;
}

#game #lost {
	color: red;
}

#game #won {
	color: blue;
}